.wrapper {
  font-size: 62px;
  font-family: "tickingBombRus", serif !important;
  color: #FFC700;

  .numbers {
    text-align: center;
    width: 220px;
  }

  .text {
    font-size: 36px;
    width: 220px;
    text-align: center;
    text-shadow: 0 0 20px #FFC700;
    font-family: "tickingBombRus", serif !important;
  }
}