.optionList{
  list-style: none;
  color: #ffffff;
  font-size: 64px;
  font-family: 'pixy';
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.optionListItem{
  color: #ffffff !important;
  a {
    color: #ffffff !important;
    font-weight: 100 !important;
    text-decoration: none;
  }

}

.active {
  color: #FFC700;
  text-shadow: 0 0 20px #FFC700;
}

.optionListItem:hover, a:hover{
  background: none;
  color: #FFC700;
  text-shadow: 0 0 20px #FFC700;
  cursor: pointer;
}