.name{
  margin: 2%;
  font-family: 'pixy';
  font-size: 48px;
}
.border{
  background-color: #fff;
  height: 2px;
  width: 100%;
}
.copilot, .balance{
  margin: 2%;
  font-family: 'pixy';
  font-size: 32px;
}