.name{
  font-family: 'pixy';
}
.border{
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  * {
    font-family: "PT Mono" !important;
    font-size: 24px !important;
  }
}

.name {
  span {
    color: #FFC700;
  }
}