.listOfTasks{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border:rgb(255, 255, 255) solid 2px;
    background-color: rgba(61, 47, 0, 0.6);
    width: 638px;
    height: calc(100% + 40px);
    border-bottom: none;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.stageSwitcher{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.taskBorder{
    height: 2px;
    width: 635px;
    background-color: #fff;
}
.header{
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    word-wrap: break-word;
}
.switchText{
    font-size:32px;
    // font-weight: bold;
    // margin-right: 20px;
    color: #fff;
    margin-right: 20px;
    font-family: "PT mono";
}
.scroll{
    height: calc(64%);
    width: 100%;
    height: 86%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
// *{
//     font-family: 'tickingBombRus';
// }
.locked {
    height: 100%;
    width: 100%;
    font-family: 'pixy', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}