.teamHolder, .memeHolder{
    border-radius: 11px;
    background-color: rgba(255, 199 , 0, 0.1);
    border:rgb(255, 255, 255) solid 2px;
    flex-basis: 30%;
}
.profileSquares {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.enough {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-family: "PT Mono" !important;
}

.teamHolder, .memeHolder{
    border-radius: 11px;
    background-color: rgba(61, 47, 0, 0.6);
    border:rgb(255, 255, 255) solid 2px;
    flex-basis: 30%;
}

.teamHolder {

    padding: 10px;
    font-family: "PT Mono" !important;
}

.contacts {
    display: flex;
    align-items: center;
    height: 100%;
    * {
        font-family: "PT Mono" !important;
    }
}

.profileSquares {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.leftColumn, .rightColumn {
    flex-basis: 49.5%;
    display: flex;
    flex-direction: column;
}
.rateHolder, .achivmentHolder{
    overflow: scroll;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    flex-basis: 70%;
    flex-grow: 0;
    background-color: rgba(61, 47, 0, 0.6);


    border:rgb(255, 255, 255) solid 2px;
    // background-color: blue;
}
.border{
    height: 2px;
    width: 100%;
    background-color: #fff;
}

.notAch {
    width: 100%;
    height: 100%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Mono" !important;
}

.memeHolder{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.teamHolder{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 18px;
}

.header1{
    width: 100%;
    height: 50px !important;
    flex-grow: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    background-color: rgba(61, 47, 0, 0.6);

    border-top:rgb(255, 255, 255) solid 2px;
    border-left:rgb(255, 255, 255) solid 2px;
    border-right:rgb(255, 255, 255) solid 2px;
}
.header{
    font-size: 24px;
    margin: 10px;
}
.achScroll{
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
}

.rateScroll{
     height: 100%;
    overflow-y: scroll;
    padding: 10px;
    * {
        font-family: "PT Mono" !important;
    }

}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.text{
    font-family: 'tickingBombRus';
    margin-left: 10px;
}
::-webkit-scrollbar {
    display: none;
}

.contact {
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    * {
        font-size: 18px;
    }

    font-size: 18px;
    a {
        color: #fff;
    }
}