.new{
  width: 96.5%;
  margin: 10px;
  padding: 10px 5px;
  font-family: 'Ticking Timebomb BB' !important;
  font-size: 40px;
  border-radius: 11px;
  border:rgb(255, 255, 255) solid 2px;
  background-color: rgba(61, 47, 0, 0.6);
  // text-align: center;
}
.new:hover{
  color: #FFC700
}
.header{
  text-transform: uppercase;
  margin: 10px;
  font-family: "tickingBombRus", serif !important;
  text-align: left;
  text-decoration: none;
  word-break: break-all;
  color: #FFC700;

}