.new{
  width: 96.5%;
  margin: 10px;
  font-family: 'pixy';
  font-size: 40px;
  border-radius: 11px;
  border:rgb(255, 255, 255) solid 2px;
  background-color: rgba(61, 47, 0, 0.6);
  // text-align: center;
}
.new:hover{
  color: #FFC700
}
.header{
  margin: 16px;
  font-family: 'pixy';
  // color: #fff;
  text-align: left;
  text-decoration: none;
  word-break: break-all;
  margin: 10px;
  color: #FFC700;

}