.curTaskFull{
    width: 90%;
    margin-left: 5%;
    height: calc(100vh + 100px);
    border-radius: 11px;
    border:rgb(255, 255, 255) solid 3px;
    background-color: rgba(61, 47, 0, 0.6);
    border-bottom: none;
    overflow-y: auto;
}
.header{
    width: 100%;
    padding: 20px;
}
.border{
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.taskTitle{
    color: rgba(255, 199 , 0);
    font-size: 2.5rem;
    font-family: "PT Mono";

}
.description{
    width: 98%;
    overflow-wrap: break-word;
    font-size: 1.8rem;
    * {
        white-space: normal;
    }
    hyphens:auto;
    * {
        font-family: 'PT Mono', 'serif' !important;
    }
}
.answTxt {
    color: #FFF;
    font-family: 'PT Mono', 'serif';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
}

.done {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "PT Mono", 'serif';
    font-size: 22px;
    height: 120px;
    border-radius: 11px;
    border: 1px solid #FFC700;
    margin-top: 20px;
}

.status{
    color: #B3B3B3;
    font-size: 48px;
    font-family: 'PT Mono';
    margin-left: 180px;
    margin-top: 10px;
}
.price{
    margin-top: 20px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'PT Mono';

}
a{
    font-family: serif;
    color: #B3B3B3;
}
.cont {
    margin: 0;
}

hr {
    margin: 20px 0;
}

.container{
    width: 100%;
    padding: 20px;
    height: max-content;
    overflow-y: auto;
}

.priceValue {
    font-weight: bold;
    font-family: 'PT Mono', serif;
    color: #FFC700;
}

.answer{
    font-family: 'PT Mono', serif;
    color:#ffffff;
    font-size: 24px;
    width: 40%;
    padding: 10px;
    height: 45px;
    border-radius: 11px;
    border:rgb(255, 255, 255) solid 3px;
    background-color: rgba(61, 47, 0, 0.6);
    outline: none;
}
.answerButt{
    font-family: 'PT Mono', serif;
    margin-left: 15px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:rgb(255, 255, 255) solid 3px;
    background-color: rgba(61, 47, 0, 0.6);
    width: 160px;
    height: 45px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}

.uploadFile {
    height: 55px;
    cursor: pointer;
    display: flex;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border:rgb(255, 255, 255) solid 3px;
    background-color: rgba(61, 47, 0, 0.6);
    font-size: 1.5rem !important;
    &:hover {
        background-color: none;
        color: #FFC700;
        text-shadow: 0 0 20px #FFC700;
    }
}

input[type="file"] {
    display: none;
}

.answerButt:hover{
    background-color: none;
    color: #FFC700;
    text-shadow: 0 0 20px #FFC700;
}
.cunt{
    * {
        font-size: 1.5rem !important;
    }
    margin-top: 20px;
    display: flex;
    align-items: center;
}