// .curTaskFull{
//     width: 1337px;
//     height: 728px;
//     border-radius: 11px;
//     border:rgb(255, 255, 255) solid 3px;
//     background-color: rgba(61, 47, 0, 0.6);

//     border-bottom: none;
// }
// .header{
//     height: 90px;
// }
// .border{
//     height: 3px;
//     width: 1334px;
//     background-color: #fff;
// }
// .taskTitle{
//     color: rgba(255, 199 , 0);
//     font-size: 42px;
//     font-family: 'pixy';
//     margin: 20px;
//     margin: 20px;
// }
// .description{
//     font-size: 40px;
//     margin: 30px;
//     font-family: 'pixy';
//     word-break:break-all;
// }
// .status{
//     color: #B3B3B3;
//     font-size: 48px;
//     font-family: 'pixy]'; 
//     margin-left: 30px;
// }
// .price{
//     color: #ffffff;
//     font-size: 48px;
//     font-family: 'pixy'; 
//     margin: 30px;
// }
// .container{
//     width: 800px;
// }
// .img{
//     width: 500px;
//     height: 500px;
//     border-radius: 11px;
//     border:rgb(255, 255, 255) solid 3px;
//     margin: 30px;
// }
// .cont{
//     display: flex;
// }
// .answer{
//     margin: 30px;
//     font-family: 'pixy';    
//     color:#ffffff;
//     font-size: 48px;
//     width: 394px;
//     padding: 10px;
//     height: 55px;
//     border-radius: 11px;
//     border:rgb(255, 255, 255) solid 3px;

//     font-family: 'pi';

//     outline: none;
// }
// .answerButt{
//     border-radius: 11px;
//     border:rgb(255, 255, 255) solid 3px;
//     background-color: rgba(61, 47, 0, 0.6);

//     width: 60px;
//     height: 55px; 
//     cursor: pointer;
//     color: #fff;
//     font-size: 30px;
// }
// .answerButt:hover{
//     background-color: none;
//     color: #FFC700;
//     text-shadow: 0 0 20px #FFC700;
// }
// .cunt{
//     display: flex;
//     align-items: center;
// }
.curTaskFull{
    width: 90%;
    margin-left: 5%;
    height: calc(100vh + 100px);
    border-radius: 11px;
    border:rgb(255, 255, 255) solid 2px;
    border-bottom: none;
    background-color: rgba(61, 47, 0, 0.6);
    overflow-y: auto;
}
.header{
    width: 100%;
}
.border{
    height: 3px;
    // width: 109%;
    background-color: #fff;
}
.taskTitle{
    color: rgba(255, 199 , 0);
    font-size: 42px;
    font-family: 'pixy';
    margin: 20px;
}
.description{
    font-size: 28px;
    width: 98%;
    margin: 20px;
    overflow-wrap: break-word;
    white-space: normal !important;
    hyphens:auto;
    // margin: 10px;
    * {
        font-family: 'PT Mono', 'serif' !important;
    }
    @media (max-width: 1050px) {
        font-size: 35px;
        margin-top: 5px;
    }
}
.answTxt {
    color: #FFF;
    font-family: 'pixy', 'serif';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;
    padding-bottom: 6px;

}
.status{
    color: #B3B3B3;
    font-size: 48px;
    font-family: 'tickingBomb'; 
    margin-left: 180px;
    margin-top: 10px;
}
.price{
    margin-top: 20px;
    color: #ffffff;
    font-size: 48px;
    font-family: 'tickingBomb';
}
.cont {
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    padding: 40px;
}
.answer{
    font-family: 'pixy', serif;
    color:#ffffff;
    font-size: 48px;
    width: 40%;
    padding: 10px;
    height: 55px;
    border-radius: 11px;
    border:rgb(255, 255, 255) solid 2px;
    background-color: rgba(61, 47, 0, 0.6);
    outline: none;
}
.answerButt{
    margin-left: 15px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:rgb(255, 255, 255) solid 2px;
    background-color: rgba(61, 47, 0, 0.6);
    width: 160px;
    height: 55px; 
    cursor: pointer;
    color: #fff;
    font-size: 30px;
}

.uploadFile {
    height: 55px;
    // background-color: red;
    cursor: pointer;
    display: flex;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border:rgb(255, 255, 255) solid 2px;
    background-color: rgba(61, 47, 0, 0.6);
    font-size: 24px;
    &:hover {
        background-color: none;
        color: #FFC700;
        text-shadow: 0 0 20px #FFC700;
    }
}

input[type="file"] {
    display: none;
}

.answerButt:hover{
    background-color: none;
    color: #FFC700;
    text-shadow: 0 0 20px #FFC700;
}
.cunt{
    margin-top: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
