
.light{
  background: none;
  color: #FFC700;
  text-shadow: 0 0 20px #FFC700;
}
.stageSquare{
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 10px;
  font-family: 'pixy';
  border-radius: 11px;
  border:rgb(255, 255, 255) solid 2px;
  background-color: rgba(255, 199 , 0, 0.1);
  color: #ffffff;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin-left: 10px;
}

.locked {
  border: #a1a1a1 solid 2px;
  cursor: not-allowed;
}

.stageText{
  text-decoration: none;
  color: #ffffff;
  font-family: 'PT mono';
  font-size: 24px;
}

.active {
  color: #FFC700;
  border: #FFC700 solid 2px;
}