.taskHeader{
  * {
    color: #FFC700;
    font-size: 2.5rem;
    text-decoration: none !important;
    font-family: "tickingBombRus";
  }

  color: #FFC700;
  font-size: 2.5rem;
  text-decoration: none !important;
  font-family: "tickingBombRus";

  a {
    text-decoration: none !important;
  }
}
.taskDescription{
  align-self: flex-start;
  color: #ffffff;
  font-size: 1.5rem;
  font-family: 'serif';
}
.taskPrice{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'PT mono', 'serif';
  margin-top: 10px;
}
.hr {
  margin: 7px 0 10px 0;
  width: 100% !important;
}

.taskStatus{
  color: #B3B3B3;
  font-size: 1.5rem;
  font-family: 'PT mono', 'serif';
}
.task{
  border-radius: 11px;
  border:rgb(255, 255, 255) solid 2px;
  margin: 10px;
  padding: 20px;
  width: 96%;
  border-radius: 11px;
  // background-color: rgba(255, 199 , 0, 0.1);
  background-color: rgba(61, 47, 0, 0.6);

  display: flex;
}
.taskImg{
  border-radius: 11px;
  border:rgb(255, 255, 255) solid 3px;
  width: 157px;
  height: 157px;
}
.container{
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}